/* You can add global styles to this file, and also import other style files */
*{
    background-color: #00081d;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
    color: #ffffff;
}