<div class="conteiner">
    <div class="conteiner__title">
        <h1>Unlimited movies, TV shows, and more</h1>
    </div>
    <div class="conteiner__describle">
        <p>Watch anywhere. Cancel anytime.</p>
    </div>
    <div class="conteiner__input-mail">
        <h3>Ready to watch? Enter your email to create or restart your membership.</h3>
        
            <input type="email">
            <button [routerLink]="['login']">
                Get Stard > 
            </button>
        
    </div>
</div>