<div class="conteiner">
    <div class="conteiner__signin">
        <h1>Sign In</h1>
    </div>
    <div class="conteiner__input-mail">

        <input type="email">
        
    </div>
    <div class="conteiner__input-passworld">
            <input type="password">
    </div>
    <div class="conteiner__button-signin">
        <button>
            Sign In
        </button>
    </div>
    <div class="conteiner__footer-button">
        <div class="remember">
            <input type="checkbox">
            <label for="remember">Remember me</label>
        </div>
        <div class="need-help">
            <a href="#">Need help?</a>
        </div>
    </div>
    <div class="new-netflix">
        <div class="login-netflix">
            <p>New to Netflix? <a href="#">Sign up now</a></p>
        </div>
        <div class="learn-more">
            <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Lean More</a></p>
        </div>
    </div>
</div>
<hr>